@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_fontsizing.css";

@layer base {
  h1 {
    @apply text-[56px];
  }
  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }

  .p1 {
    @apply text-md;
  }

  .p2 {
    @apply text-base;
  }

  .p3 {
    @apply text-sm;
  }

  .p4 {
    @apply text-xsm;
  }

  .p5 {
    @apply text-xxsm;
  }

  html {
    @apply font-lato;
  }

  body {
    @apply bg-gray-100;
  }
}

@layer components {
  .primary-button {
    @apply py-2.5 px-12 text-white p2 font-bold rounded-[8px] transition-all duration-500 bg-primary hover:shadow-md hover:bg-[#0C5FCC];
  }

  .disabled-button {
    @apply py-2.5 px-12 text-white p2 font-bold rounded-[10px] transition-all duration-500 hover:shadow-md bg-form-border text-disable;
  }

  .nav-noti {
    @apply inline-flex items-center justify-center p4 font-bold w-7 h-2 px-1 py-2.5 ml-3 mr-3 text-white bg-warning rounded-full;
  }

  .default-input {
    @apply focus:outline-none focus:border-main-secondary transition placeholder:text-disable mx-auto text-gray-500 p2 mt-1 focus:ring-0 border shadow-sm border-form-border block w-full py-1.5 px-5 rounded-md;
  }

  .loading-skeleton {
    @apply bg-[#ebebeb] rounded inline-flex text-lg relative overflow-hidden leading-none h-5;

    &::after {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-repeat: no-repeat;
      background-image: linear-gradient(90deg, #ebebeb, #f5f5f5, #ebebeb);
      transform: translateX(-100%);
      animation-name: loading-skeleton;
      animation-direction: normal;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
  }

  .red-star {
    color: red;
  }
}
body {
  background-color: #f0f3f8;
  margin: 0;
  padding: 0;
}
.mantine-TextInput-label {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}
.mantine-TextInput-input {
  padding: 15px;
  font-family: "Lato", sans-serif !important;
}
.gradient-text {
  background: #121fcf;
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #607189 0%,
    #1977f2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
/* loading part */
.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: white;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
